@media only screen and (min-width: 768px) {
  .ps-md-12-px {
    padding-left: 12px !important;
  }
}

/* หน้าไหนมี Navbar ต้องเอาไปด้วย */
.dropdown-menu {
  min-width: 7.5rem;
}

.dropdown-toggle::after {
  vertical-align: 0.45em;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: white;
}

.navbar-collapse {
  flex-grow: 0;
}

.search:hover {
  background-color: #f8f9fa;
}

.nav-underline {
  gap: 0;
}

.nav-underline .nav-link {
  color: #000;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color: #00bf6c;
  border-bottom-width: 4px;
}

.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-bottom-color: #00bf6c;
  border-bottom-width: 4px;
}

.hide-scollbar::-webkit-scrollbar {
  display: none;
}

.hide-scollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown-item:active {
  background-color: #cccdcd7d;
}
