body {
  background: #121212;
  padding-top: 72px;
}

.carousel-item img {
  height: 400px;
}

@media only screen and (max-width: 576px) {
  .mxw-row-mobile {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .mxw-row-desktop {
    max-width: 1100px;
  }
}
