.form-check-input:checked {
  background-color: green;
  border-color: green;
}

.link-dark:hover {
  color: green;
  text-decoration-color: green;
}

.input-group-text {
  background-color: #fff;
}

.input-group-text:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}
