input,
select {
  height: 48px;
}

.input-group-text {
  background-color: #fff;
}

.input-group-text:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.form-check-input:checked {
  background-color: green;
  border-color: green;
}
